<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.image.attached? %>
  <div>
    <strong>Image:</strong>
    <%= image_tag(@post.image, width: 300) %>
  </div>
  <br/>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
